.header {
    position: sticky;
    display: flex;
    justify-content: space-between;
    z-index: 100;
    background-color: $color-white;
    border-bottom: 1px solid $color-grey;
    @include respond(phone) {
        display: inline-block;
    }
    .header-cart {
        position: relative;
    }
    .header-cart__number {
        position: absolute;
        font-size: 1rem;
        background-color: #5a73fc;
        border-radius: .6rem;
        padding: .2rem;
        top: -.6rem;
        color: #fff;
        font-weight: 700;
        left: -.5rem;
        z-index: 10;
    }
    &__logo {
        margin-top: 1rem;
        height: 5rem;
        margin-left: 5rem;
        @include respond(phone) {
            height: 4rem;
            width: auto;
            transform: translateX(50%);
        }
    }
    &-content {
        list-style: none;
        text-transform: uppercase;
        &__link {
            text-decoration: none;
            font-family: "Montserrat", sans-serif;
            font-weight: 500;
            color: $color-black;
            &:hover {
                color: $color-primarily-dark;
                text-shadow: .5rem 1rem 2rem rgba($color-black, 0.2);
            }
            &--img {
                width: 3rem;
                border: 3px solid $color-black;
                border-radius: 1.5rem;
            }
            &--username {
                font-size: 1rem;
                margin-left: .5rem;
                color: orangered;
            }
            &--home {
                color: $color-primarily-dark;
            }
            &--login {
                color: $color-black;
                padding: 1rem;
                border: 1px solid $color-black;
                &:hover {
                    color: $color-primarily-dark;
                    box-shadow: .5rem 1rem 2rem rgba($color-black, 0.2);
                }
            }
            &--cart {
                font-size: 2rem;
                color: $color-black;
                padding-right: 1rem;
            }
        }
        &__group {
            display: inline-block;
            margin-top: 2rem;
            margin-right: 7rem;
            @include respond (tab-port) {
                margin-right: 1rem;
            }
            @include respond (phone) {
                margin-left: 1rem;
            }
            &-login {
                cursor: pointer;
                transition: all .2s;
                &:hover {
                    transform: scale(1.2);
                }
            }
            &-user {
                position: relative;
                display: inline-block;
            }
        }
    }
    &-search {
        position: relative;
        &__item {
            display: inline-block;
            &--input {
                font-family: inherit;
                padding: 1rem 2rem;
                color: inherit;
                border: 1px solid $color-grey;
                border-radius: .2rem;
                display: block;
                background-color: $color-white;
                width: 100%;
                @include respond (phone) {
                    padding: 1rem 15rem 1rem 2rem;
                }
                &:focus {
                    outline: none;
                    box-shadow: 0 1rem 2rem rgba($color-black, .15);
                    border-bottom: 3px solid $color-primarily-dark;
                    &:invalid {
                        border-bottom: 3px solid $color-primarily-dark;
                    }
                }
            }
            &--icon {
                color: $color-white;
                padding: 1.2rem;
                border-radius: 0 .5rem .5rem 0;
                background-color: $color-primarily-dark;
            }
        }
    }
}