.intro-product {
    width: 100%;
    position: relative;
    background-color: $color-grey;
    padding: 5rem 0;
    margin-top: 5rem;
}

.product-new {
    width: 100%;
    position: relative;
    background-color: $color-grey;
    padding: 5rem 0;
    margin-top: 5rem;
}

.product-highlights {
    width: 100%;
    background-color: $color-grey;
    position: relative;
    padding: 5rem 0;
    margin-top: 5rem;
}