.box {
    position: relative;
    background-color: $color-white;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 1rem;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
    transition: all .2s;
    margin: 1rem 0 2rem 0;
    &:hover {
        transform: scale(1.05);
    }
    &:hover &__add-to-card {
        opacity: 1;
        visibility: visible;
    }
    &__img {
        border-top: 1px solid $color-grey;
        padding-top: 2rem;
        position: relative;
        height: 60%;
        object-fit: cover;
        box-sizing: border-box;
        transition: all .2s;
    }
    &__detail {
        width: 90%;
        height: 50%;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        &--name {
            position: relative;
            @include respond(phone) {
                width: 65px;
            }
        }
        &--price {
            font-size: 1.5rem;
            font-weight: 600;
            @include respond (phone) {
                font-size: .8rem;
            }
        }
        &--start {
            margin: 1rem 0;
            color: orangered;
            @include respond (phone) {
                font-size: .8rem;
            }
            &--rating {
                display: inline-block;
            }
        }
    }
    &__new-png {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        &--img {
            width: 30%;
        }
    }
    &__add-to-card {
        z-index: 1;
        visibility: hidden;
        &--text {
            font-size: 1.4rem;
            position: absolute;
            text-align: center;
            top: 25%;
            left: 13%;
            text-transform: uppercase;
            text-decoration: none !important;
            color: rgba($color-white, 1);
            padding: .5rem 1rem;
            background-color: rgba($color-primary, .8);
            border-radius: 1rem;
            box-shadow: 1rem 1rem 1rem rgba($color-black, .4);
            transition: all .2s;
            z-index: 10000000000000000;
            &:hover {
                color: $color-white;
                top: 23%;
            }
            &:active {
                color: $color-white;
                top: 24%;
            }
        }
    }
}