.Card {
    &-shopping {
        position: relative;
        margin: 2rem 1rem 1rem 0;
        background-color: $color-white;
        padding: 1rem;
        &-title {
            border-bottom: 1px solid $color-black;
            &__price {
                font-size: 1.1rem;
                position: absolute;
                top: 2.4rem;
                right: 1.5rem;
            }
        }
        &-product {
            position: relative;
            border-bottom: 1px solid $color-black;
            &-box {
                display: flex;
                margin-top: 1rem;
                border-bottom: 1px solid rgba($color-black, 0.1);
                &__price--promotional {
                    font-size: 1.1rem;
                    font-weight: 700;
                    margin-top: 50%;
                }
                &__amount {
                    position: relative;
                    margin-top: 1rem;
                    &--number {
                        width: 2rem;
                    }
                }
            }
        }
        &-total {
            position: absolute;
            display: flex;
            right: 1.5rem;
            margin-top: 1rem;
            &__title {
                margin-right: 1rem;
            }
            &__price {
                font-size: 1.5rem;
                font-weight: 700;
            }
        }
    }
    &-total {
        position: relative;
        margin-top: 5rem;
        padding-left: 1rem;
        border-left: 1px solid $color-black;
        &__title {
            font-size: 1.5rem;
        }
        &__price {
            font-size: 2rem;
        }
        &__btn {
            margin: 1rem 0 0 2rem;
        }
    }
}

.btn-close {
    position: absolute;
    right: 0;
    background-color: $color-grey;
    padding: 0 .5rem;
    border-radius: .5rem;
    cursor: pointer;
    font-size: 1.2rem;
}

.btn-card {
    width: 1.5rem;
    padding: 0 .5rem 0 .2rem;
    border: none;
    border-radius: .3rem;
}