.form {
    position: relative;
    width: 35%;
    margin-left: 35%;
    border: 1px solid #ccc;
    padding: 1rem 2rem;
    @include respond(phone) {
        width: 75%;
        margin-left: 15%;
    }
    &__name {
        text-transform: uppercase;
        margin: 2rem 0;
        font-weight: 700;
        font-family: "Montserrat", sans-serif;
    }
    &__input {
        font-family: inherit;
        padding: 1rem 2rem;
        color: inherit;
        border-radius: .2rem;
        display: block;
        border-radius: .5rem;
        border: 1px solid $color-black;
        background-color: $color-white;
        width: 100%;
        &:focus {
            outline: none;
            box-shadow: 0 .8rem 3rem rgba($color-black, .15);
            border-bottom: 3px solid $color-primarily-dark;
            &:invalid {
                border: 1px solid $color-primarily-dark;
            }
        }
    }
    &__input:placeholder-shown~label {
        opacity: 0;
        visibility: visible;
        transform: translateY(4rem);
    }
    &__label {
        opacity: 1;
        font-weight: 600;
        margin-top: .7rem;
        display: block;
        transition: all .3s;
    }
    &__btn {
        text-transform: uppercase;
        padding: .5rem 2rem;
        background-color: $color-primary;
        border: none;
        color: $color-white;
        border-radius: 1rem;
        &--add-to-card {
            background-color: orangered;
        }
        &:hover {
            color: $color-white;
            transform: translateY(-4px);
            box-shadow: 0 5px 20px rgba($color-black, .2);
        }
        &:active {
            outline: none;
            transform: translateY(-1px);
            box-shadow: 0 5px 10px rgba($color-black, .2);
        }
    }
}

.logo__form {
    width: 20rem;
    margin: 2rem;
    margin-left: 40%;
    @include respond(phone) {
        margin-left: 25%;
    }
}