$color-primary: #5a73fc;
$color-primarily-dark: #2534f7;
$color-primarily-light: #22b4ee;
$color-background:#467b8e;
$color-body:#f1f2f6;
$color-grey: #ced7d8;
$color-grey-dark: #333;
$color-grey-light: #f7f7f7;
$color-footer: #2b3341;
$color-white: #fff;
$color-black: #000;
$color-red:#d63031;
$grid-width: 114rem;
$gutter-vertical-big: 8rem;
$gutter-vertical-small: 2rem;
$gutter-horizontal: 2rem;